@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
}

.header {
  width: 100%;
}

.header .navbar {
  width: 100%;
  height: 80px;
  display: flex;
}

.header .navbar .box {
  width: 33.3%;
}

@media screen and (max-width: 767px) {
  .header .navbar .box {
    width: 50%;
  }
}

.header .logo {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

@media screen and (max-width: 767px) {
  .header .logo {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .logo {
    padding-left: 2rem;
  }
}

.header .logo h2 {
  font-size: 2rem;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .header .logo h2 {
    font-size: 1.5rem;
  }
}

.header .search {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .header .search {
    display: none;
  }
}

.header .search .content-search {
  display: flex;
  gap: .8rem;
}

.header .search .content-search input {
  border: none;
}

.header .search .content-search input::placeholder {
  color: #718096;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .search .content-search {
    padding-left: 8.5rem;
  }
}

.header .items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5rem;
}

@media screen and (max-width: 767px) {
  .header .items {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .items {
    padding-right: 2.5rem;
  }
}

.header .items .links {
  display: flex;
  gap: 2rem;
}

.header .items .links li a {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.header .menu-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .header .menu-mobile {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header .menu-mobile img {
    width: 40%;
    height: 40%;
    z-index: 10;
  }
}

.header .content-header {
  width: 100%;
  height: 467px;
  background: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .header .content-header {
    flex-direction: column-reverse;
  }
}

.header .content-header .info-coffee {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .header .content-header .info-coffee {
    width: 100%;
  }
}

.header .content-header .info-coffee h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}

@media screen and (max-width: 767px) {
  .header .content-header .info-coffee h1 {
    font-size: 55px;
    padding: 0 1rem;
    line-height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .content-header .info-coffee h1 {
    font-size: 50px;
  }
}

.header .content-header .info-coffee .email {
  width: 360px;
  height: 44px;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
}

.header .content-header .info-coffee .email::placeholder {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.header .content-header .info-coffee .btn-email {
  position: absolute;
  left: 28.5%;
  margin-top: 5px;
  height: 36px;
  width: 119px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  background: #6B46C1;
  border: transparent;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header .content-header .info-coffee .btn-email {
    left: 64%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .content-header .info-coffee .btn-email {
    left: 32%;
  }
}

.header .content-header .info-coffee.img-people {
  background-image: url("http://localhost/mijo_brands/wp-content/themes/HotCoffee/assets/img/people.png");
  background-size: 476px 323px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .header .content-header .info-coffee.img-people {
    background-size: contain;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .content-header .info-coffee.img-people {
    background-size: contain;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .grid-container {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    overflow-x: hidden;
  }
}

.grid-container .article {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article {
    grid-column-start: span 3;
  }
}

.grid-container .article:nth-child(1) {
  grid-column-start: span 3;
  display: flex;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) {
    flex-direction: column-reverse;
  }
}

.grid-container .article:nth-child(1) .info-article {
  padding: 5rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) .info-article {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(1) .info-article {
    padding: 1rem;
  }
}

.grid-container .article:nth-child(1) .info-article h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
}

.grid-container .article:nth-child(1) .info-article p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  width: 68%;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) .info-article p {
    width: 100%;
  }
}

.grid-container .article:nth-child(1) .info-article .footer-info {
  display: flex;
  justify-content: space-between;
}

.grid-container .article:nth-child(1) .info-article .footer-info p {
  font-size: 12px;
  font-weight: 400;
}

.grid-container .article:nth-child(1) .info-article .footer-info a {
  font-size: 12px;
  color: #2D3748;
  font-weight: 700;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) .info-article .footer-info a {
    width: 30%;
    margin-top: .7rem;
  }
}

.grid-container .article:nth-child(1) .img-article {
  width: 80%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) .img-article {
    width: 100%;
  }
}

.grid-container .article:nth-child(1) .img-article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(2), .grid-container .article:nth-child(3), .grid-container .article:nth-child(4) {
    grid-column-start: span 3;
  }
}

.grid-container .article:nth-child(2) .img-article, .grid-container .article:nth-child(3) .img-article, .grid-container .article:nth-child(4) .img-article {
  width: 100%;
}

.grid-container .article:nth-child(2) .img-article img, .grid-container .article:nth-child(3) .img-article img, .grid-container .article:nth-child(4) .img-article img {
  width: 100%;
  object-fit: cover;
}

.grid-container .article:nth-child(2) .info-article, .grid-container .article:nth-child(3) .info-article, .grid-container .article:nth-child(4) .info-article {
  padding: 3rem;
}

.grid-container .article:nth-child(2) .info-article h2, .grid-container .article:nth-child(3) .info-article h2, .grid-container .article:nth-child(4) .info-article h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
}

.grid-container .article:nth-child(2) .info-article p, .grid-container .article:nth-child(3) .info-article p, .grid-container .article:nth-child(4) .info-article p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  width: 68%;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(2) .info-article p, .grid-container .article:nth-child(3) .info-article p, .grid-container .article:nth-child(4) .info-article p {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(2) .info-article, .grid-container .article:nth-child(3) .info-article, .grid-container .article:nth-child(4) .info-article {
    padding: 1rem;
  }
}

.grid-container .article:nth-child(2) .info-article .footer-info, .grid-container .article:nth-child(3) .info-article .footer-info, .grid-container .article:nth-child(4) .info-article .footer-info {
  display: flex;
  justify-content: space-between;
}

.grid-container .article:nth-child(2) .info-article .footer-info p, .grid-container .article:nth-child(3) .info-article .footer-info p, .grid-container .article:nth-child(4) .info-article .footer-info p {
  font-size: 12px;
  font-weight: 400;
}

.grid-container .article:nth-child(2) .info-article .footer-info a, .grid-container .article:nth-child(3) .info-article .footer-info a, .grid-container .article:nth-child(4) .info-article .footer-info a {
  font-size: 12px;
  color: #2D3748;
  font-weight: 700;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(2) .info-article .footer-info a, .grid-container .article:nth-child(3) .info-article .footer-info a, .grid-container .article:nth-child(4) .info-article .footer-info a {
    width: 30%;
    margin-top: .7rem;
  }
}

.grid-container .article:nth-child(5) {
  grid-column-start: span 3;
  height: 500px;
  background: #FBFBFB;
  display: flex;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) {
    height: auto;
    flex-direction: column-reverse;
  }
}

.grid-container .article:nth-child(5) .info-article {
  padding: 6rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .info-article {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .info-article {
    padding: 5rem 2rem;
  }
}

.grid-container .article:nth-child(5) .info-article h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
}

.grid-container .article:nth-child(5) .info-article p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  width: 68%;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .info-article p {
    width: 100%;
  }
}

.grid-container .article:nth-child(5) .info-article h2 {
  font-size: 40px;
  width: 70%;
  line-height: 48.41px;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .info-article h2 {
    width: 90%;
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .info-article h2 {
    width: 95%;
  }
}

.grid-container .article:nth-child(5) .info-article p {
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .info-article p {
    width: 100%;
  }
}

.grid-container .article:nth-child(5) .footer-info {
  display: flex;
  justify-content: space-between;
}

.grid-container .article:nth-child(5) .footer-info p {
  font-size: 12px;
  font-weight: 400;
}

.grid-container .article:nth-child(5) .footer-info a {
  font-size: 12px;
  color: #2D3748;
  font-weight: 700;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .footer-info a {
    width: 30%;
    margin-top: .7rem;
  }
}

.grid-container .article:nth-child(5) .footer-info p {
  font-size: 16px;
}

.grid-container .article:nth-child(5) .footer-info a {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .footer-info a {
    width: 40%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .footer-info a {
    width: 40%;
  }
}

.grid-container .article:nth-child(5) .img-article {
  width: 150%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .img-article {
    width: 230%;
  }
}

.grid-container .article:nth-child(5) .img-article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .img-article img {
    width: 66.5%;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact .title h2 {
  font-size: 42px;
}

.contact .alerts {
  width: 50%;
}

.contact .alerts .error {
  position: fixed;
  top: 8%;
  right: 1%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a94442;
  font-weight: 700;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 10px;
  transition: all 1s ease-out;
  opacity: 0;
}

.contact .alerts .error h6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 30px;
  text-align: center;
}

.contact .alerts .correct {
  position: fixed;
  top: 8%;
  right: 1%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a94442;
  font-weight: 700;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 10px;
  transition: all 1s ease-out;
  opacity: 0;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.contact .alerts .correct h6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 30px;
  text-align: center;
}

.contact .form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.contact .form label {
  margin: 1rem 0 .5rem 0;
  color: #000000;
  font-weight: 700;
}

.contact .form input,
.contact .form textarea {
  padding: 1rem;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
}

.contact .form input::placeholder,
.contact .form textarea::placeholder {
  color: #718096;
}

.contact .form .btn-send {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.contact .form .btn-send button {
  height: 36px;
  width: 119px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  background: #6B46C1;
  border: transparent;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .contact .form .btn-send button {
    left: 64%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact .form .btn-send button {
    left: 32%;
  }
}

.btn-aside {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-aside .btn-next {
  height: 36px;
  width: 119px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  background: #6B46C1;
  border: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;
}

@media screen and (max-width: 767px) {
  .btn-aside .btn-next {
    left: 64%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .btn-aside .btn-next {
    left: 32%;
  }
}

.footer {
  width: 100%;
  border-top: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: .5rem 0;
  }
}

.footer .text-footer {
  padding-left: 4rem;
}

@media screen and (max-width: 767px) {
  .footer .text-footer {
    padding-left: 0;
  }
}

.footer .text-footer h3 {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}

.footer .text-footer h3 span {
  font-weight: 600;
  color: #2D3748;
}

@media screen and (max-width: 767px) {
  .footer .text-footer h3 {
    font-size: 14px;
  }
}

.footer .socials {
  padding-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
}

@media screen and (max-width: 767px) {
  .footer .socials {
    padding-right: 0;
  }
}

.header-arcticle {
  width: 100%;
  display: grid;
  place-items: center;
}

.header-arcticle img {
  width: 90%;
  height: 430px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .header-arcticle img {
    width: 100%;
    height: 145px;
    object-fit: contain;
  }
}

.content-article {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .content-article {
    width: 90%;
  }
}

.content-article h1 {
  font-size: 45px;
}

@media screen and (max-width: 767px) {
  .content-article h1 {
    font-size: 30px;
  }
}

.content-article .creator {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 767px) {
  .content-article .creator h2 {
    font-size: 14px;
  }
}

.content-article .text-article {
  border-top: 1px solid #E8E8E8;
  padding: 1rem 5rem 1rem 0;
}

@media screen and (max-width: 767px) {
  .content-article .text-article {
    padding: 1rem 2rem 1rem 0;
  }
  .content-article .text-article h2 {
    font-size: 14px;
  }
}

.content-article .text-article p {
  font-size: 14px;
  line-height: 19px;
}

@media screen and (max-width: 767px) {
  .content-article .text-article p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */