//TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600;700&display=swap');
$font: 'Inter',
sans-serif;

//COLORS
$black: #000000;
$white: #ffffff;
$purple: #6B46C1;
$white_light: #FBFBFB;
$gray: #718096;
$gray_dark: #4A5568;
$blue_dark: #2D3748;

//MEDIA QUERIES
$mobile: 767px;
$tabletH: 768px;
$tabletV: 1024px;

//GLOBAL
body {
    font-family: $font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

input {
    outline: none;
}

//MIXINS
@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tabletH) and (max-width: $tabletV) {
        @content;
    }
}

@mixin textArticles {
    h2 {
        font-size: 30px;
        color: $black;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        width: 68%;

        @include mobile {
            width: 100%
        }
    }
}

@mixin footerArticles {
    p {
        font-size: 12px;
        font-weight: 400;
    }

    a {
        font-size: 12px;
        color: $blue_dark;
        font-weight: 700;
        margin-top: 1rem;

        @include mobile {
            width: 30%;
            margin-top: .7rem;
        }
    }
}

//HEADER 
.header {
    width: 100%;

    .navbar {
        width: 100%;
        height: 80px;
        display: flex;

        .box {
            width: 33.3%;

            @include mobile {
                width: 50%;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        padding-left: 5rem;

        @include mobile {
            padding-left: 1rem;
        }

        @include tablet {
            padding-left: 2rem;
        }

        h2 {
            font-size: 2rem;
            color: $black;

            @include mobile {
                font-size: 1.5rem;
            }
        }
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            display: none;
        }

        .content-search {
            display: flex;
            gap: .8rem;

            input {
                border: none;

                &::placeholder {
                    color: $gray;
                }
            }

            @include tablet {
                padding-left: 8.5rem;
            }
        }
    }

    .items {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 5rem;

        @include mobile {
            display: none;
        }

        @include tablet {
            padding-right: 2.5rem;
        }

        .links {
            display: flex;
            gap: 2rem;

            li a {
                font-size: 16px;
                color: $black;
                font-weight: 600;
            }
        }
    }

    .menu-mobile {
        display: none;

        @include mobile {
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;

            img {
                width: 40%;
                height: 40%;
            }
        }
    }

    //CONTENT HEADER 
    .content-header {
        width: 100%;
        height: 467px;
        background: $white_light;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            flex-direction: column-reverse;
        }

        .info-coffee {
            width: 50%;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include mobile {
                width: 100%;
            }

            h1 {
                font-size: 60px;
                font-weight: 700;
                line-height: 72px;

                @include mobile {
                    font-size: 55px;
                    padding: 0 1rem;
                    line-height: 40px;
                }

                @include tablet {
                    font-size: 50px;
                }
            }

            .email {
                width: 360px;
                height: 44px;
                border: 1px solid #E2E2E2;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 10px;

                &::placeholder {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29px;
                }
            }

            .btn-email {
                position: absolute;
                height: 36px;
                width: 119px;
                left: 28.5%;
                margin-top: 5px;
                border-radius: 4px;
                background: $purple;
                color: $white;
                font-weight: 700;
                border: transparent;
                cursor: pointer;
                transition: transform .8s;

                &:hover {
                    transform: scale(1.03);
                }

                @include mobile {
                    left: 64%;
                }

                @include tablet {
                    left: 32%;
                }
            }

            &.img-people {
                background-image: url('../img/people.png');
                background-size: 476px 323px;
                background-position: center;
                background-repeat: no-repeat;

                @include mobile {
                    background-size: contain;
                }

                @include tablet {
                    background-size: contain;
                }
            }
        }
    }
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;

    .article {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
        border-radius: 5px;

        &:nth-child(1) {
            grid-column-start: span 3;
            display: flex;

            @include mobile {
                flex-direction: column-reverse;
            }

            .info-article {
                padding: 5rem;

                @include mobile {
                    padding: 1rem;
                }

                @include tablet {
                    padding: 1rem;
                }

                @include textArticles;

                .footer-info {
                    display: flex;
                    justify-content: space-between;
                    @include footerArticles;
                }
            }

            .img-article {
                width: 80%;

                @include mobile {
                    width: 100%;
                }

                @include tablet {}

                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            @include mobile {
                grid-column-start: span 3;
            }

            .img-article {
                width: 100%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .info-article {
                padding: 3rem;
                @include textArticles;

                @include mobile {
                    padding: 1rem;
                }

                .footer-info {
                    display: flex;
                    justify-content: space-between;
                    @include footerArticles;

                }
            }
        }
    }
}