@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
}

.header {
  width: 100%;
}

.header .navbar {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .box {
  width: 33.3%;
}

@media screen and (max-width: 767px) {
  .header .navbar .box {
    width: 50%;
  }
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5rem;
}

@media screen and (max-width: 767px) {
  .header .logo {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .logo {
    padding-left: 2rem;
  }
}

.header .logo h2 {
  font-size: 2rem;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .header .logo h2 {
    font-size: 1.5rem;
  }
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .header .search {
    display: none;
  }
}

.header .search .content-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .8rem;
}

.header .search .content-search input {
  border: none;
}

.header .search .content-search input::-webkit-input-placeholder {
  color: #718096;
}

.header .search .content-search input:-ms-input-placeholder {
  color: #718096;
}

.header .search .content-search input::-ms-input-placeholder {
  color: #718096;
}

.header .search .content-search input::placeholder {
  color: #718096;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .search .content-search {
    padding-left: 8.5rem;
  }
}

.header .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5rem;
}

@media screen and (max-width: 767px) {
  .header .items {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .items {
    padding-right: 2.5rem;
  }
}

.header .items .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.header .items .links li a {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.header .menu-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .header .menu-mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .menu-mobile img {
    width: 40%;
    height: 40%;
  }
}

.header .content-header {
  width: 100%;
  height: 467px;
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .header .content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.header .content-header .info-coffee {
  width: 50%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .header .content-header .info-coffee {
    width: 100%;
  }
}

.header .content-header .info-coffee h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}

@media screen and (max-width: 767px) {
  .header .content-header .info-coffee h1 {
    font-size: 55px;
    padding: 0 1rem;
    line-height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .content-header .info-coffee h1 {
    font-size: 50px;
  }
}

.header .content-header .info-coffee .email {
  width: 360px;
  height: 44px;
  border: 1px solid #E2E2E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
}

.header .content-header .info-coffee .email::-webkit-input-placeholder {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.header .content-header .info-coffee .email:-ms-input-placeholder {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.header .content-header .info-coffee .email::-ms-input-placeholder {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.header .content-header .info-coffee .email::placeholder {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.header .content-header .info-coffee .btn-email {
  position: absolute;
  left: 28.5%;
  margin-top: 5px;
  height: 36px;
  width: 119px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  background: #6B46C1;
  border: transparent;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header .content-header .info-coffee .btn-email {
    left: 64%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .content-header .info-coffee .btn-email {
    left: 32%;
  }
}

.header .content-header .info-coffee.img-people {
  background-image: url("../img/people.png");
  background-size: 476px 323px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .header .content-header .info-coffee.img-people {
    background-size: contain;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .content-header .info-coffee.img-people {
    background-size: contain;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .grid-container {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    overflow-x: hidden;
  }
}

.grid-container .article {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
          box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
  }
}

.grid-container .article:nth-child(1) {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.grid-container .article:nth-child(1) .info-article {
  padding: 5rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) .info-article {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(1) .info-article {
    padding: 1rem;
  }
}

.grid-container .article:nth-child(1) .info-article h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
}

.grid-container .article:nth-child(1) .info-article p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  width: 68%;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) .info-article p {
    width: 100%;
  }
}

.grid-container .article:nth-child(1) .info-article .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-container .article:nth-child(1) .info-article .footer-info p {
  font-size: 12px;
  font-weight: 400;
}

.grid-container .article:nth-child(1) .info-article .footer-info a {
  font-size: 12px;
  color: #2D3748;
  font-weight: 700;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) .info-article .footer-info a {
    width: 30%;
    margin-top: .7rem;
  }
}

.grid-container .article:nth-child(1) .img-article {
  width: 80%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(1) .img-article {
    width: 100%;
  }
}

.grid-container .article:nth-child(1) .img-article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(2), .grid-container .article:nth-child(3), .grid-container .article:nth-child(4) {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
  }
}

.grid-container .article:nth-child(2) .img-article, .grid-container .article:nth-child(3) .img-article, .grid-container .article:nth-child(4) .img-article {
  width: 100%;
}

.grid-container .article:nth-child(2) .img-article img, .grid-container .article:nth-child(3) .img-article img, .grid-container .article:nth-child(4) .img-article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container .article:nth-child(2) .info-article, .grid-container .article:nth-child(3) .info-article, .grid-container .article:nth-child(4) .info-article {
  padding: 3rem;
}

.grid-container .article:nth-child(2) .info-article h2, .grid-container .article:nth-child(3) .info-article h2, .grid-container .article:nth-child(4) .info-article h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
}

.grid-container .article:nth-child(2) .info-article p, .grid-container .article:nth-child(3) .info-article p, .grid-container .article:nth-child(4) .info-article p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  width: 68%;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(2) .info-article p, .grid-container .article:nth-child(3) .info-article p, .grid-container .article:nth-child(4) .info-article p {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(2) .info-article, .grid-container .article:nth-child(3) .info-article, .grid-container .article:nth-child(4) .info-article {
    padding: 1rem;
  }
}

.grid-container .article:nth-child(2) .info-article .footer-info, .grid-container .article:nth-child(3) .info-article .footer-info, .grid-container .article:nth-child(4) .info-article .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-container .article:nth-child(2) .info-article .footer-info p, .grid-container .article:nth-child(3) .info-article .footer-info p, .grid-container .article:nth-child(4) .info-article .footer-info p {
  font-size: 12px;
  font-weight: 400;
}

.grid-container .article:nth-child(2) .info-article .footer-info a, .grid-container .article:nth-child(3) .info-article .footer-info a, .grid-container .article:nth-child(4) .info-article .footer-info a {
  font-size: 12px;
  color: #2D3748;
  font-weight: 700;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(2) .info-article .footer-info a, .grid-container .article:nth-child(3) .info-article .footer-info a, .grid-container .article:nth-child(4) .info-article .footer-info a {
    width: 30%;
    margin-top: .7rem;
  }
}

.grid-container .article:nth-child(5) {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
  height: 500px;
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.grid-container .article:nth-child(5) .info-article {
  padding: 6rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .info-article {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .info-article {
    padding: 5rem 2rem;
  }
}

.grid-container .article:nth-child(5) .info-article h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
}

.grid-container .article:nth-child(5) .info-article p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  width: 68%;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .info-article p {
    width: 100%;
  }
}

.grid-container .article:nth-child(5) .info-article h2 {
  font-size: 40px;
  width: 70%;
  line-height: 48.41px;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .info-article h2 {
    width: 90%;
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .info-article h2 {
    width: 95%;
  }
}

.grid-container .article:nth-child(5) .info-article p {
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .info-article p {
    width: 100%;
  }
}

.grid-container .article:nth-child(5) .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-container .article:nth-child(5) .footer-info p {
  font-size: 12px;
  font-weight: 400;
}

.grid-container .article:nth-child(5) .footer-info a {
  font-size: 12px;
  color: #2D3748;
  font-weight: 700;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .footer-info a {
    width: 30%;
    margin-top: .7rem;
  }
}

.grid-container .article:nth-child(5) .footer-info p {
  font-size: 16px;
}

.grid-container .article:nth-child(5) .footer-info a {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .footer-info a {
    width: 40%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .footer-info a {
    width: 40%;
  }
}

.grid-container .article:nth-child(5) .img-article {
  width: 150%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container .article:nth-child(5) .img-article {
    width: 230%;
  }
}

.grid-container .article:nth-child(5) .img-article img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .grid-container .article:nth-child(5) .img-article img {
    width: 66.5%;
  }
}

.btn-aside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn-aside .btn-next {
  height: 36px;
  width: 119px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  background: #6B46C1;
  border: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .3rem;
}

@media screen and (max-width: 767px) {
  .btn-aside .btn-next {
    left: 64%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .btn-aside .btn-next {
    left: 32%;
  }
}

.footer {
  width: 100%;
  border-top: 1px solid #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: .5rem 0;
  }
}

.footer .text-footer {
  padding-left: 4rem;
}

@media screen and (max-width: 767px) {
  .footer .text-footer {
    padding-left: 0;
  }
}

.footer .text-footer h3 {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}

.footer .text-footer h3 span {
  font-weight: 600;
  color: #2D3748;
}

@media screen and (max-width: 767px) {
  .footer .text-footer h3 {
    font-size: 14px;
  }
}

.footer .socials {
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .8rem;
}

@media screen and (max-width: 767px) {
  .footer .socials {
    padding-right: 0;
  }
}
/*# sourceMappingURL=styles.css.map */